{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{%block content%}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-end mb-4">
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    
                    <div class="container">
                    <h1 class="text-primary">Hello {{user.first_name}}</h1>
                    <p>Welcome to The Student Assignment Tracker!</p>
                    <p>This system was designed and established to help student remember ,organise and to effiecently allocate time to do completing each and every assignment they may be given before there deadline in order to ensure all their tasks are complete so they may freely spend their free time in whatever recreactional activities they partake in without the stress of questioning whether they had finished the assignment or not.</p>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
{% endblock %}