{% extends "base.html" %}
{% block title %}Assignment List{% endblock %}
{%block content%}
 <div class="container">
    <a href="/assignments/add/" class="btn btn-primary btn-sm">Add Assignment</a>
    <table class="table table-bordered table-striped shadow">

{% for assignment in assignments %}

<tr>
    <td>{{ assignment.title }}</td>
    <td>{{ assignment.subject }}</td>
    <td>{{ assignment.deadline }}</td>

    <td>
        {% if assignment.completed %}
            Completed
        {% else %}
            Pending
        {% endif %}
    </td>

    <td>
        <a href="{% url 'complete_assignment' assignment.id %}" class="btn btn-success btn-sm">
            Complete
        </a>
    </td>
</tr>

{% endfor %}

</table>


</div>
{% endblock %}
